# Build outputs
dist/
build/
*.egg-info/
*.whl
*.tar.gz

# Python cache
__pycache__/
*.pyc
*.pyo

# VSCode history
.history/

# Dev / test files
run.py
try.py

# OS junk
Thumbs.db
.DS_Store

# Virtual env
venv/
.env/